{% extends 'base.html' %}
{% block content %}
{% if post_list %}

{% for post in post_list %}


    <div class="row-fluid">
    <div class="span6">
<h2><a href="/blog/posts/{{ post.id }}/true">
{{ post.title }}
</a></h2>
<ul> 
<li> Created: {{post.created}} </li>
<li> Last Modified: {{post.updated}}</li>
<li> Content: {{post.body|slice:':60'}}</li>
</ul>
        <p><a class="btn" href="/blog/posts/{{ post.id }}/true">View details &raquo;</a></p>
    </div><!--/span-->
    </div>
    <hr>
    {% if forloop.counter|divisibleby:3 %}
    {% endif %}
{% endfor %}


{% else %}
You don't have any posts
{% endif %}
{% endblock %}

