{% extends 'base.html' %}
{% block content %}

    {% if logged_in %}
        <h3>You are logged in!!!</h3>
        <h4>Click <a href="/blog/posts/">here</a> to view all posts or
        <a href="/reg/logout">logout</a> to logout</h4>
    {% elif account == 'disabled' %}
        <h4>Your account has been disabled</h4>
    {% elif account == 'none' %}
        <h4>You have not registered for this blog, to do so, contact the site admin! </h4>
    {% else %}
    <form action="." method="post">
        {{ form.as_p }}
        <input type="submit" value="Login" />

    </form>
    {% endif %}

{% endblock %}